---
---
<header class="bg-blue-500 text-white p-4">
    <h1 class="text-2xl font-bold">Gestión de Estudiantes y Cursos</h1>
    <nav>
      <a href="/" class="mr-4">Inicio</a>
      <a href="/estudiantes" class="mr-4">Estudiantes</a>
      <a href="/cursos">Cursos</a>
    </nav>
  </header>